/* pages/search.wxss */

.absolute-box{
  margin-top: 0;
  margin-left: 0;
  width: 100%;
}

.absolute-view{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.search-box{
  position: relative;
  width: 100%;
  height: 50px;
  background: red;
  .search-button{
    padding: 0 15px;
  }
}

.scroll-view{
  width: 100%;
  height: auto;
  overflow: scroll;

}