/**index.wxss**/

.container-image{
  background: url(../assets/bt_home_bg.png) no-repeat;
  background-size:100% 100%;
}

.background-shade{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.237);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home-navigation-bars-title{
  font-size: 23px;
  font-weight: 800;
  
}
//
.home-icon-box{
  width: 95%;
  margin-top: 50px;
  .home-icon{
    width: 30px;height: 30px;
    padding: 10px;
    float: right;
    
  }
  .icon-add{
    color: black;
    padding: 5px;
    width: 35px;height: 35px;
  }
}

.background-image{
  height: 100%;
  width: 100%;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
}

.userinfo-avatar {
  overflow: hidden;
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}
.usermotto {
  margin-top: 200px;
}

.home-info-title{
  font-size: 20px;
  padding: 20px;
  
  color: white;
}
//description
.home-info-subtitle{
  font-size: 18px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.818);
}

.start-learn{
  margin-top: 100px;
  color: white;
  background-color: rgba(10, 95, 255, 1);
}
//