/* pages/answer/sub-pages/check-answer/index.wxss */


.audio-paly-box {
  padding: 0px 15px;
}

.yours-answer-box {
  width: 100%;
  position: relative;
  display: flex;

}

.issue {
  width: auto;
  font-size: 17px;
  font-weight: 700;
  margin: 15px 20px;

  text-align: center;
  position: relative;
  display: flex;
}



//用户自己填写的答案标题
.yours-title {
  font-size: 16px;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 1;
  width: auto;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 10px 10px 0px 0px;

  .concealer {
    background-color: white;
    margin: -1px -25px 0 -15px;
    height: 9px;
  }

}




//editor


//使用文字答题
.answer-text-box {
  background-color: white;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.19);
  position: relative;
  align-items: center;
  margin: 15px;
  margin-top: -1px;

  border-radius: 0 10px 10px 10px;

  padding: 8px 8px;

  .editor {
    width: auto;
    padding: 0 10px;
  }

}

//参考答案
.refer-answer-shadow {
  box-shadow: 0px 1px 2px 6px rgba(202, 225, 199), 0px 6px 10px 0px rgba(202, 225, 199);
}

.refer-answer-title-shadow {
  box-shadow: 0px 0px 2px 6px rgba(202, 225, 199), 0px 0px 0px 0px rgba(202, 225, 199);
}


.next-answer-button {
  margin-top: 30px;
  width: 100px;
  color: white;
  background-color: rgb(10, 96, 254);
  padding: 0 15px;
  height: 40px;
  font-size: 16px;
  border-radius: 7px;
}