/**app.wxss**/

:root{
  --global-bj-color:red;
}

page{
  height: 100%;
  width: 100%;
}
.container {
  background-color: rgb(242, 242, 242);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  // background: url(./assets/bt_home_bg.png) no-repeat;
} 

.container-box{
  background-color: rgb(242, 242, 242);
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.navigation-bars-title{
  font-size: 23px;
  font-weight: 800;
}


// #name:red;

.submit-button{
  border-radius: 3px;
  color: white;
  background-color: rgba(10, 95, 255, 1);
}
