/**app.wxss**/

page{
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  // background: url(./assets/bt_home_bg.png) no-repeat;
} 
.navigation-bars-title{
  font-size: 23px;
  font-weight: 800;
}
